@charset "UTF-8";
.call,.mail { min-height:4.2rem }
.text-2,.text {
color:#fff;
font-size:1.6rem;
font-weight:700
}
.text-2,.text,.text-4 { font-size:1.6rem }
.content,.cro,.display,.social {
font-family:Oswald,sans-serif;
text-transform:uppercase
}


@media screen and (max-width: 998px) {
    html{
        font-size: 55%;
    }
    .border-12,.border-14,.overlay-3,.text-33,.overlay-10,.border-16,.row{
      display: none;
    }
}

@media screen and (max-width: 768px) {
  html{
      font-size: 45%;
  }   .border-12,.border-14,.overlay-3,.text-33,.overlay-10,.border-16,.row{
    display: none;
  }
}
html {
  box-sizing:border-box;
  font-size:62.5%;
  }
footer{
  display: flex;
}
sub,sup { font-size:58.3% }
.overlay-9,article,aside,details,figcaption,figure,header,menu,nav,section,time { display:block }
input:focus,textarea:focus { outline:0 }
input { border-width:0 }
em { font-style:italic }
h1,h2,h3,h4,h5,h6 {
font-weight:700;
margin-top:0;
margin-bottom:0
}
.group:after,.group:before {
content:" ";
display:table
}

.group:after { clear:both }
embed,img,object,video { max-width:100% }
sup { vertical-align:text-top }
sub { vertical-align:text-bottom }
.no-space-between-inline-blocks {
letter-spacing:-.31em;
word-spacing:-.43em
}
.no-space-between-inline-blocks>* {
letter-spacing:normal;
word-spacing:normal
}
.displace {
left:-500.0rem;
position:absolute
}
.call,.header,.mail { position:relative }

*,:after,:before {
box-sizing:inherit
}

body {
line-height:1;
background:#fff;
width: 100%;
color:#848484;
font-family:Lato,sans-serif;
font-size: 1.392rem;
font-style:normal;
font-weight:400;
letter-spacing:0;
text-decoration:none;
}
.Main_box{
float:none;
height:auto;
margin:0 auto;
padding:3.9rem 0 0;
position:relative;
width:100%;
background:center top/cover #fff;
}
.header {
margin:0 auto;
padding:0 24.7rem;
width:100%;
max-width:166.2rem;

}
.emenacsoft {
float:left;
margin:0.1rem 0 0
}
.mail {
float:right;
margin:0 .1rem 0 0;
padding:0 ,2rem 0 1.3rem;
width:100%;
max-width:23.0rem;
border-radius:2.1rem;
background:#144d60
}
.email {
float:left;
margin:1.3rem 0 0;
}
.overlay-1 {
float:left;
height:4.2rem;
margin:0 0 0 1.2rem;
max-width:.2rem;
background:#185c73
}
.text {
float:left;
margin:1.2rem 0 0 .7rem
}
.call {
float:right;
margin:0 1.6rem 0 0;
padding:0 1.6rem;
width:20.5rem;
border-radius:2.1rem;
background:#1ac5ff
}
.call>* {
float:left;
margin:0 1.7rem 0 0
}
.call>:last-child { margin-right:0 }
.telephone { margin-top:1.0rem}
.overlay-2{
height:4.2rem;
width:.2rem;
background:#18b8ee
}
.group-1{
width:100%;
position:relative;
display: flex;
}
.text { margin-top:1.3rem }
.main-content-wrapper {
margin:3.6rem auto 0;
overflow:hidden;
position:relative
}
.overlay-6,.overlay-5,.overlay-7,.overlay-8,.overlay-4,.send,.telephone-2,.text-9,.text-3,.text-28,.text-30,.text-5 {
display:flex;
margin:0 auto;
}
.group-1 {
margin:-.1rem auto 0;
padding:7.6rem 0 .4rem;
background:url(images/layer_1.png) 
}
.l-constrained-2,.l-constrained-4 {
margin:0 auto;
padding:0 24.6rem;
position:relative;
width: 100%;
min-width:166.2rem;

}
.group-8 {
float:left;
margin:2.0rem 0 0;
position:relative;
width: 100%;
max-width:52.6rem
}
.col-11,.ellipse-2 {
float:right
}
.text-3 {
display:block;
margin:0 0 0 .1rem;
position:relative
}
.traffic {
display:block;
margin:2.2rem 0 0;
position:relative
}
.text-4 {
margin:2.1rem 0 0 .1rem;
width: 100%;
max-width:52.5rem;
color:#f6f6f6;
font-weight:300;
line-height:2.6rem;
text-align:justify
}
.content,.cro,.display,.polygon-1-holder,.ppc,.seo { text-align:center }
.rounded-rectangle-2-holder {
margin:4.1rem 0 0;
min-height:4.6rem;
padding:0 3.1rem;
position:relative;
width:100%;
border:.2rem solid #fff;
border-radius:2.3rem;
color:#f6f6f6;
font-size:1.8rem;
font-style:italic;
font-weight:300;
line-height:4.6rem;
text-align:center
}
.col-11,.overlay-3 {
width:100%;
max-width:57.7rem;
position:relative
}
.text-6,.text-7{
color:#333;
font-size:2rem;
font-weight:700
}
.overlay-3{
padding:2.6rem 0 4.3rem;
background:url(images/layer_18.png) no-repeat
}
.ellipse-2,.ellipse-1 {
background:#f8f8f8;
height:1.2rem;
width:1.2rem
}
.ellipse-1 {
margin:4.0rem 0 0 .4rem;
position:relative;
border-radius:50%
}
.ellipse-2 {
margin:37.4rem 0 0;
border-radius:50%
}
.ellipse-3 {
float:right;
height:1.2rem;
margin:37.4rem .4rem 0 0;
width:1.2rem;
border-radius:50%;
background:#2ec0e9
}
.l-unconstrained {
margin:6.5rem 0 0;
position:relative;
display: flex;
}
.l-constrained {
margin:0 auto;
padding:0 24.5rem;
position:relative;
max-width:166.2rem;
width:100%;
}
.row-6 {
margin:6.8rem 0 0;
position:relative;
display: flex;
}
.text-6 {
float:left;
margin:0 35.2rem 0 0;
width:49.4rem
}
.text-7 {
float:left;
width:25.1rem
}
.content,.cro,.display,.ppc,.seo,.social,.text-8,.text-13,.text-15,.text-17,.text-21,.text-27 { font-weight:300 }
.row-4 {
margin:1.7rem 0 0 .1rem;
position:relative;
width:100%;
max-width: 111.7rem;
}
.text-8 {
float:left;
max-width:73.3rem;
width: 100%;
color:#565656;
font-size:1.6rem;
line-height:2.6rem
}
.border-3 {
float:right;
height:28.8rem;
margin:.8rem 0 0;
position:relative;
width:30.0rem
}
.polygon-1-holder {
left:50%;
margin:0 0 0 -4.8rem;
min-height:10.9rem;
padding:2.3rem 0 3.0rem;
position:absolute;
top:9.0rem;
width:9.5rem;
background:url(images/polygon_1.png) no-repeat;
color:#144d60;
font-size:2.4rem;
font-style:italic;
line-height:2.6rem
}
.col,.col-2 { min-height:10.7rem }
.col,.col-2,.polygon-1-copy-3-holder {
left:50%;
position:absolute;
width:9.4rem
}

.col {
padding:2.6rem 0 2.1rem;
top:0;
background:url(images/polygon_1_copy.png) no-repeat;
margin-left:.3rem
}
.seo {
margin:.1rem 0 0;
font-family:Oswald,sans-serif
}
.col-2 {
padding:2.6rem 0 2.3rem;
top:.1rem;
background:url(images/polygon_1_copy_2.png) no-repeat;
margin-left:-9.9rem
}
.ppc {
margin:.5rem 0 0;
font-family:Oswald,sans-serif
}
.polygon-1-copy-3-holder {
padding:3.0rem 0 2.5rem;
top:18.1rem;
background:url(images/polygon_1_copy_3.png) no-repeat;
margin-left:.4rem;

}
.border-5,.border-4 {
margin:0 auto;
position:relative
}
.border-4{ width:5.0rem }
.border-5 {
height:3.0rem;
width:4.5rem
}
.col-3,.col-4,.col-5 {
left:50%;
min-height:10.7rem;
position:absolute;
width:9.4rem
}
.shape-2 {
left:50%;
position:absolute;
top:0;
margin-left:-2.25rem
}
.shape-2-copy {
left:50%;
position:absolute;
top:.1rem;
margin-left:-1.75rem
}
.social {
margin:.5rem 0 0
}
.col-3 {
padding:2.6rem 0 2.4rem;
top:18.1rem;
background:url(images/polygon_1_copy_3_2.png) no-repeat;
margin-left:-9.8rem
}
.cro,.display { margin:.5rem 0 0 }
.col-4 {
padding:1.9rem 0;
top:9.2rem;
background:url(images/polygon_1_copy_4.png) no-repeat;
margin-left:5.6rem
}
.content { margin:.6rem 0 0 }
.col-5 {
padding:2.9rem 2.9rem 2.1rem;
top:9.3rem;
background:url(images/polygon_1_copy_4_2.png) no-repeat;
margin-left:-15.0rem
}
.col-6 {
margin:12.7rem auto 0;
padding:4.9rem 0 7.6rem;
position:relative;
background:#eff6fc;
width: 100%;
}
.l-constrained-3,.l-constrained-5 {
margin:0 auto;
position:relative;
max-width:166.2rem;
width: 100%;
}
.group-3 {
margin:5.8rem auto 0;
position:relative;
width:117.1rem
}
.col-15 {
float:left;
position:relative;
width:57.2rem
}
.row-7,.row-9 {
position:relative
}
.border-7,.border-11,.border-9,.border-13{
float:left;
position:relative;
width:27.1rem
}
.text-10,.text-12,.text-14,.text-16,.text-18,.text-20,.text-23,.text-24,.text-26,.text-34,.text-39,.text-43,.text-45 {
display:block;
position:relative
}
.text-11,.text-19,.text-23,.text-25 {
margin:1.1rem 0 0;
width:27.1rem;
font-weight:300;
line-height:2.0rem;
text-align:justify
}
.rounded-rectangle-3-holder,.rounded-rectangle-3-holder-2,.rounded-rectangle-3-holder-3,.rounded-rectangle-3-holder-4,.rounded-rectangle-3-holder-5,.rounded-rectangle-3-holder-7 {
margin:1.9rem 0 0;
min-height:3.1rem;
padding:0 1.2rem;
position:relative;
width:10.5rem;
border-radius:1.55rem;
background:#00c7ff;
color:#fff;
font-size:1.6rem;
font-style:italic;
line-height:3.1rem;
text-align:center
}
.col-13,.border-8,.border-12,.border-10,.border-14 {
float:right;
position:relative;
width:27.1rem
}
.text-13,.text-15,.text-17,.text-21 {
margin:.6rem 0 0;
width:27.1rem;
line-height:2.0rem;
text-align:justify
}
.row-10,.row-8 {
margin:8.2rem 0 0;
position:relative
}
.col-16 {
float:right;
position:relative;
width:57.1rem
}
.col-10,.border-16 {
float:left;
position:relative;
}
.rounded-rectangle-3-holder-6,.rounded-rectangle-3-holder-8 {
margin:1.9rem 0 0;
min-height:3.1rem;
padding:0 1.2rem;
position:relative;
width:10.5rem;
border-radius:1.55rem;
background:#00c7ff;
font-style:italic;
line-height:3.1rem;
text-align:center
}
.border-15{
margin:0 auto;
overflow:hidden;
padding:6.8rem 0 6.5rem;
position:relative;
background:#144d60
}
.col-10 {
margin:0 9.6rem 0 0;
width:57.0rem
}
.text-27 {
margin:1.9rem 0 0 .1rem;
width:56.9rem;
color:#fff;
line-height:2.6rem;
text-align:justify
}
.border-16 {
margin:4.5rem 0 0;
width:43.8rem
}
.text-29 {
margin:1.3rem 0 0;
color:#fff;
font-size:2.2rem;
font-style:italic;
text-align:center
}
.text-40,.text-41,.text-42,.text-44 { color:#a7a7a7 }
.border-17 {
margin:-.1rem auto 0;
padding:7.9rem 0 .9rem;
position:relative;
background:#f9f9f9;

}
.row {
left:1.5rem;
margin:1.4rem auto 0;
min-height:25.1rem;
padding:4.1rem 3.5rem 12.7rem;
position:relative;
width:100%;
max-width: 122.4rem;
background:url(images/layer_7.png) no-repeat
}
.text-31,.text-32,.text-33 {
width:31.0rem;
font-weight:300;
text-align:center;
line-height:1.2;
float:left;

}
.text-32 { margin:0 0 0 9.4rem }
.text-33 { margin:0 0 0 10.0rem }
.overlay-10{
display:block;
margin:1.3rem 0 0;
position:relative;
display: flex;
}
.col-8 {
margin:-.2rem auto 0;
min-height:37.7rem;
padding:4.2rem 0 0;
position:relative;
background:#144d60
}
.row-5 {
margin:0 auto;
padding:0 24.4rem 0 24.8rem;
position:relative;
width:166.2rem
}
.col-20 {
float:left;
position:relative;
width:27.0rem
}
.email-2 {
float:left
}
.text-35 {
float:left;
margin:.2rem 0 0 1.8rem
}
.text-36 {
float:left;
margin:.5rem 0 0 2.8rem
}
.text-37 {
display:block;
margin:3.3rem 0 0;
position:relative
}
.row-12 {
margin:1.9rem 0 0;
position:relative
}
.ellipse-4 {
float:left;
margin:0 1.6rem 0 0;
padding:.8rem 0;
position:relative;
width:3.9rem;
border-radius:50%;
background:#00c7ff
}
.text-38 {
float:left;
margin:1.1rem 0 0
}
.col-17 {
float:left;
margin:0 0 0 3.0rem;
position:relative;
width:27.2rem
}
.overlay-11,.overlay-12,.overlay-13 {
height:.1rem;
width:27.1rem;
background-color:rgba(255,255,255,.21);
position:relative
}
.text-40 {
margin:2.3rem 0 0;
line-height:1.2;
text-align:left
}
.overlay-11 { margin:1.8rem 0 0 }
.text-41 { margin:1.6rem 0 0 }
.overlay-12{ margin:1.7rem 0 0 }
.text-42 { margin:1.9rem 0 0 }
.overlay-13{ margin:1.7rem 0 0 .1rem }
.col-18 {
float:left; margin:0 0 0 2.9rem; position:relative; 
width:12.4rem
}
.text-44 {
margin:2.0rem 0 0; line-height:3.0rem; text-align:justify
}
.rectangle-8-copy-2-holder,.rectangle-8-copy-holder,.rectangle-8-holder {
min-height:3.9rem; padding:0 .8rem; background:#124758; color:#8a8a8a;
font-style:italic; line-height:3.9rem
}
.rectangle-8-holder {margin:2.9rem 0 0}
.rectangle-8-copy-2-holder,.rectangle-8-copy-holder {margin:.5rem 0 0}
.touch {
  display: inline-block; margin-right: 1.0rem;background: #339DFF;color: #fff; text-decoration: none; font-size: 1.3rem;line-height: 3.8rem;
 border-radius: 5.0rem; -webkit-transition: all 0.3s;transition: all 0.3s; width: 17.0rem; text-align: center; margin-top: 10%;}
.touch:hover {
  background: #fff; color: #339DFF; box-shadow: 0 .4rem .4rem rgba(83, 100, 255, 0.32);padding:1.2rem 0 1.1rem;}

  .nav {
    background: #ffffff;
    height: 6.0rem; 
  }
  .nav li {
    display: inline-block;
    list-style: none;
    height: 6.0rem; 
    line-height: 6.0rem; 
    padding: 0 7%; 
    text-decoration: solid;
    position: relative;
    color: #333;
  }
  .nav li:hover {
    background: rgb(92, 82, 82);
    transition: background .3s;
  }
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  .nav a{
    color: #333;
    font-weight: 700;
  }
